<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/blog.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            BLOGOS
        </a>
        <ul class="nav">
            <li class="nav-item">                
                <a class="nav-link active btn btn-primary me-md-2" asp-area="" asp-controller="Blog" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active btn btn-primary me-md-2 bi bi-archive" asp-area="" asp-controller="Blog" asp-action="Create">Novo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active btn btn-primary me-md-2 bi bi-recycle" asp-area="" asp-controller="Blog" asp-action="List">Edição</a>
            </li>           
        </ul>
    </div>
</nav>